################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PROG-2070-W2025-A2-G11/.vs/PROG-2070-W2025-A2-G11/FileContentIndex
